<div class="container">
  <div class="row">

    <h2 class="col-md-12" style="margin: 40px 0 0">Sandbox for project startup</h2>
    <div class="col-md-12" style="margin-bottom: 10px;"><hr></div>

    <div class="panel col-md-12">
      <h4>
        Authentification modules
      </h4>

      <hr>

      <h5>
        Login component
      </h5>

      <auth-login
        [errorMessage]="'Please try again'">
      </auth-login>

      <br>

      <h5>
        Register Component
      </h5>

      <auth-register>
        (authRegisterStatus)="checkAuthStatus($event)"
        [errorMessage]="'Please try again'">
      </auth-register>
    </div>

    <div class="panel col-md-12">
      <h4>
        Comunication modules
      </h4>

      <h5>
        ChatRoom Component
      </h5>


      <chatbox>

      </chatbox>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>


  </div>
</div>
