/var/bootstrap.php.cache
/var/cache/*
var/cache/*
!var/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
.idea/*
**/.sass-cache
**/.sass-cache/*
**/.tmp
**/.tmp/*
/.sass-cache
/src/AppBundle/Resources/public/.sass-cache
/src/AppBundle/Resources/public/.sass-cache/*
src/AppBundle/Resources/public/compass_app_log.txt
npm-debug.log
.DS_Store
**.sublime-project
**.sublime-workspace
node_modules/
.*.swp
.*.swo
/src/AppBundle/Resources/public/js/common/constant.js
/src/AppBundle/Resources/public/css/main.css
/src/AppBundle/Resources/public/css/main.css.map
**/constant.js
**/main.css
/web/autodeploy.php
autodeploy.sh
cron.sh
.autodeploy
/web/autodeploy.php
cron.sh
delete-cache-script.sh
web/delete-cache.php
app/SymfonyRequirements.php
app/check.php

src/AppBundle/Resources/public/garage/.idea/workspace.xml
composer.lock

**/*.min.css
**/*.min.js
**/*.map

/src/AppBundle/Resources/public/js/custom.min.js
/src/AppBundle/Resources/public/js/vendor.min.js
