<form
  #registerForm
  (ngSubmit)="registerSubmit()"
  class="auth-form auth-form--register">

  <div class="auth-form__error-container" *ngIf="error.show">
    {{ error.message }}
  </div>

  <div class="auth-form__loading-container" *ngIf="loading.show">
    Loading ...
  </div>

  <label for="register_userName"
         class="auth-form__item">
    <input type="text"
           id="register_userName"
           name="register_userName"
           class="auth-form-input"
           input-idle
           (inputStatus)="checkStatus($event)"
           [inputType]="'username'"
           [(ngModel)]="registerUserName"
           placeholder="User Name" />

    <span *ngIf="errorMinChars">
      Not enough chars! 4 mins
    </span>

    <span *ngIf="errorLoading">
      Loading...
    </span>

    <span *ngIf="errorMaxChars">
      Max chars error!!!
    </span>

    <span *ngIf="errorNotAllowed">
      No space pleases
    </span>

    <span *ngIf="userNameSucces">
      Username is available!
    </span>

  </label>

  <label for="register_email"
         class="auth-form__item">
    <input type="text"
           id="register_email"
           name="register_email"
           class="auth-form-input"
           [ngClass]="{'has-error': hasError }"
           [(ngModel)]="registerEmail"
           placeholder="Email address" />
  </label>

  <label for="register_firstName"
         class="auth-form__item">
    <input type="text"
           id="register_firstName"
           name="register_firstName"
           class="auth-form-input"
           [(ngModel)]="registerFirstName"
           placeholder="First Name" />
  </label>

  <label for="register_lastName"
         class="auth-form__item">
    <input type="text"
           id="register_lastName"
           name="register_lastName"
           class="auth-form-input"
           [(ngModel)]="registerLastName"
           placeholder="Last Name" />
  </label>

  <label for="register_password"
         class="auth-form__item">
    <input type="password"
           id="register_password"
           name="register_password"
           class="auth-form-input"
           [(ngModel)]="registerPassword"
           placeholder="Password" />
  </label>

  <label for="check_register_password">
    <input type="password"
           id="check_register_password"
           name="register_password"
           class="auth-form-input"
           [(ngModel)]="checkRegisterPassword"
           placeholder="Retype Password" />
  </label>

  <button type="submit" [disabled]="!checkInputsReady()">
    Submit
  </button>
</form>
