<h4>
  Register form
</h4>

<form
  #registerForm
  (ngSubmit)="registerSubmit()"
  class="register">

  <div *ngIf="err" class="auth-form-error">

  </div>

  <input type="text"
         class="auth-form-input"
         name="userName"
         [(ngModel)]="registerUserName"
         (blur)="checkUserName()"
         placeholder="Username"
         required/>
  <span *ngIf="userNameUnique" #authUserNameExistance>
    User <strong>{{registerUserName}}</strong> can be used
  </span>

  <input type="text"
         class="auth-form-input"
         name="firstName"
         [(ngModel)]="registerFirstName"
         placeholder="First Name" />

  <input type="text"
         class="auth-form-input"
         name="lastName"
         [(ngModel)]="registerLastName"
         placeholder="Last Name" />

  <input type="password"
         class="auth-form-input"
         name="password"
         [(ngModel)]="registerPassword"
         placeholder="Password"/>

  <button type="submit" [disabled]="registerFormIsValid">
    Submit
  </button>

  <div class="">

  </div>
</form>
