<form
  #authForm
  (ngSubmit)="authSubmit()"
  class="auth-form auth-form--login">

  <div class="auth-form__error-container" *ngIf="error.show">
    {{ error.message }}
  </div>

  <div class="auth-form__loading-container" *ngIf="loading.show">
    Loading ...
  </div>

  <label for="username--'{{instanceName}}'"
         class="auth-form__item">
    <input type="text"
           id="username--'{{instanceName}}'"
           name="username--'{{instanceName}}'"
           class="auth-form-input"
           (keyup)="error.show = false"
           [(ngModel)]="loginUserName"
           placeholder="User Name" />
  </label>

  <!--<label for="password&#45;&#45;{{instanceName}}"-->
         <!--class="auth-form__item">-->
    <!--<input type="password"-->
           <!--id="password&#45;&#45;{{instanceName}}"-->
           <!--name="password&#45;&#45;{{instanceName}}"-->
           <!--class="auth-form-input"-->
           <!--(keyup)="error.show = false"-->
           <!--[(ngModel)]="loginPassword"-->
           <!--placeholder="Password" />-->
  <!--</label>-->

  <div class="auth-form__item"
       app__input--password
       (inputStatus)="checkInputStatus($event)"
       (updateInputValue)="loginPassword = $event"
       [(model)]="loginPassword"
       [labelFor]="'1231321'"
       [labelClassName]="'auth-form__item'"
       [inputPlaceholder]="'Password'"
       [inputClassName]="'auth-form-input'"
       [showPassword]="true">
  </div>

  <div class="auth-form__item auth-form__item--submit">
    <button type="submit">
      Submit
    </button>
  </div>

</form>
